<p>
  Locations
</p>

<div>
  <ul>
    <li *ngFor="let country of countries | async">
      <a (click)="onLocationClick(country.name)">{{country.name}}</a>
      <ul *ngIf="states">
        <li *ngFor="let state of states | async">
          <a (click)="onStateClick(country.name, state.name)">{{state.name}}</a>
          <ul *ngIf="cities">
            <li *ngFor="let city of cities | async">
              <a (click)="onCityClick(country.name, state.name, city.name)">{{city.name}}</a>
              <ul *ngIf="beaches">
                <li *ngFor="let beach of beaches | async">
                  <a [routerLink]="['/pictureView', country.name, state.name, city.name, beach.name]">{{beach.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
