<div class="row">
  <div class="col-lg-3">
    <app-location-list></app-location-list>
  </div>
  <div class="col-lg-9">
    <h2>Pictures</h2>

    <div class="row">
      <div class="col-lg-12">
        <ng2-datepicker [options]="options" [(ngModel)]="date" (outputEvents)="dateSelected($event)"></ng2-datepicker>
        <button class="btn btn-default" (click)="clearDate()">Clear date filter</button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="rig columns-4">
          <li *ngFor="let picture of pictures">
            <p>debug: {{picture.dateTaken.toLocaleDateString()}}</p>
            <a [routerLink]="['/detail', country, state, city, beach, picture.uid]">
              <img src="{{picture.path}}" alt="{{picture.name}}">
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
